/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.body-container {
  max-width: 100%;
  margin: 0 auto;
}
.body-container .nav-header {
  background-image: url(../imgs/stefan-vladimirov-Q_Moi2xjieU-unsplash.jpg);
  background-size: 50%;
  opacity: 0.8;
}
.body-container .nav-header .nav-wrapper {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
  padding: 1em;
}
.body-container .nav-header .nav-wrapper .nav-logo {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-container .nav-header .nav-wrapper .nav-logo img {
  width: 15%;
}
.body-container .nav-header .nav-wrapper .nav-logo h1 {
  text-align: center;
  font-size: 1.5em;
  color: white;
}
.body-container .nav-header .nav-wrapper nav a {
  text-decoration: none;
  color: white;
  margin: 0.5em;
  padding: 0.5em;
}
.body-container .nav-header .header-wrapper {
  margin: 1em;
  padding: 1em;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.body-container .nav-header .header-wrapper .header-left {
  margin: 1em;
  padding: 1em;
}
.body-container .nav-header .header-wrapper .header-left p {
  color: white;
  font-size: 1.5em;
}
.body-container .nav-header .header-wrapper .header-form {
  background-color: white;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
}
.body-container .nav-header .header-wrapper .header-form h2 {
  font-weight: bold;
  font-size: 1.5em;
}
.body-container .nav-header .header-wrapper .header-form form {
  color: maroon;
  line-height: 1.5em;
  text-align: center;
}
.body-container .nav-header .header-wrapper .header-form form input {
  height: 2em;
  border-radius: 0.3em;
}
.body-container .nav-header .header-wrapper .header-form form button {
  height: 2.5em;
  border-radius: 0.3em;
  margin: 0.3em;
  padding: 0.3em;
  width: 50%;
  color: white;
  background-color: maroon;
}
.body-container .main-top-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: maroon;
  opacity: 0.8;
}
.body-container .main-top-wrapper section {
  margin: 0.5em;
  padding: 0.5em;
  line-height: 1.25em;
}
.body-container .main-top-wrapper section h2 {
  font-size: 1.25em;
  color: maroon;
  background-color: white;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
  width: 50%;
}
.body-container .main-top-wrapper section h3 {
  color: white;
  font-size: 1.15em;
}
.body-container .main-top-wrapper section p {
  font-size: 1em;
  color: white;
  line-height: 1.5em;
}
.body-container .header-2 {
  background-color: white;
  opacity: 0.8;
  color: maroon;
}
.body-container .header-2 h2 {
  margin: 0.3em;
  padding: 0.3em;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}
.body-container .main-mid-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  cursor: pointer;
}
.body-container .main-mid-wrapper .img-wrapper-1 {
  display: inline-flex;
  position: relative;
}
.body-container .main-mid-wrapper .img-wrapper-1 #img-1 {
  width: 100%;
}
.body-container .main-mid-wrapper .img-wrapper-1 #hidden-p {
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  font-size: 2em;
  text-align: center;
  opacity: 1;
  visibility: hidden;
  transition: 0.5s;
}
.body-container .main-mid-wrapper .img-wrapper-1 #img-1:hover + #hidden-p {
  opacity: 0.8;
  visibility: visible;
}
.body-container .main-mid-wrapper .img-wrapper-3 {
  display: inline-flex;
  position: relative;
}
.body-container .main-mid-wrapper .img-wrapper-3 #img-3 {
  width: 100%;
}
.body-container .main-mid-wrapper .img-wrapper-3 #hidden-p3 {
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  font-size: 2em;
  text-align: center;
  opacity: 1;
  visibility: hidden;
  transition: 0.5s;
}
.body-container .main-mid-wrapper .img-wrapper-3 #img-3:hover + #hidden-p3 {
  opacity: 0.8;
  visibility: visible;
}
