@import "reset.less";
@import "variables.less";


// index.html styles
.body-container{
    max-width: 100%;
     margin:0 8%;
    font-family: 'Livvic', sans-serif;
    // object-fit: contain;
    
    .nav-header{
        background-image: url(../imgs/eiliv-sonas-aceron-ZuIDLSz3XLg-unsplash.jpg);
        background-size:100%;
         width:100%;

        .nav-wrapper{
            background: rgba(255,255,255,0.2);
            .myFlexMixin(center,space-between);
            .myMarginMixin(0.3em,0.3em);
            margin-top:0;
             margin-left: 0;
            width:100%;

            @media @tablet {
                flex-direction: column;
            }
            @media @mobile {
                flex-direction: column;
            }

            .nav-logo {
                width:25%;
                .myFlexMixin(center,flex-start);

                @media @tablet {
                    .myFlexMixin(center,center);
                    flex-direction: column;
                    width:50%;   
                }
                @media @mobile { 
                .myFlexMixin(center,center); 
                flex-direction: column;
                width:50%;
                }
                img {
                    width:15%;
                }
                h1 {
                    text-align: center;
                    font-size: 1.5em;
                    color: white;
                    
                    // @media @tablet {
                    //      font-size: 1em;
                    // }
                    // @media @mobile { 
                    //     font-size: 1em;
                    // } 
                    
                }
            }
        
            nav {
                @media @tablet {
                    .myFlexMixin(center,space-between);
                    flex-direction: column;
                    .myMarginMixin(0, 0);
                }
               
                @media @mobile {
                    .myFlexMixin(center,space-between);
                    flex-direction: column;
                    .myMarginMixin(0, 0);
                }
                
                a {
                    text-decoration: none;
                    color: white;
                    .myMarginMixin(0.5em, 0.5em);
                     @media @tablet {
                        .myMarginMixin(0.2em, 0.2em);
                    }
                   
                     @media @mobile {
                        .myMarginMixin(0, 0);
                    }
                
                }

            }
        }
        .header-wrapper {
            .myMarginMixin(1em,1em);
            margin-bottom: 0;
            .myFlexMixin(center,space-evenly);
            width:90%;
            @media @tablet {
                .myFlexMixin(center,space-evenly);
                flex-direction: column;

            }

            @media @mobile {
                .myFlexMixin(center,space-evenly);
                flex-direction: column;

            }

            .header-left {
                .myMarginMixin(1em,1em);
                
                p {
                    color:white;
                    font-size: 1.5em;
                }
            }
            .header-form {
                background-color: white;
                border-radius: 0.5em;
                .myMarginMixin(1em,1em);

                h2 {
                    font-weight: bold;
                    font-size: 1.5em;
                }
                form{
                    color: maroon;
                    line-height: 1.5em;
                    text-align: center;
                    input {
                        height: 2em;
                        border: 0.1em solid maroon;
                        border-radius: 0.3em;
                    }
                    button {
                        height: 2.5em;
                        border: none;
                        border-radius: 0.3em;
                        .myMarginMixin(0.3em,0.3em);
                        width:50%;
                        color:white;
                        background-color: maroon;

                    }
                }
            }
            
            
        }


    }
    .main-top-wrapper {
        .myFlexMixin(baseline,space-between);
        background-color: maroon;
        @media @tablet {
            flex-direction: column;
        }
        @media @mobile {
            flex-direction: column;
        }
        section {
            .myMarginMixin(0.5em,0.5em);
            line-height: 1.25em;
           
            h2 {
                font-size: 1.25em;
                color: maroon;
                background-color: white;
                border-radius: 0.5em;
                .myMarginMixin(0.5em,0.5em);
                width: 50%;
            }
            h3{
                color: white;
                font-size: 1.15em;
            }
            p {
                font-size: 1em;
                color: white;
                line-height: 1.5em;
                line-break: auto;
            }
        }

    }

    .header-2 {
        background-color: white;
        color:maroon;
        h2{
        .myMarginMixin(0.3em,0.3em);
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;


        }
    }
    .main-mid-wrapper {
        .myFlexMixin(center,space-between);
        cursor: pointer;

        @media @tablet {
            flex-direction: column;
        }

        @media @mobile {
            flex-direction: column;
        }
        .img-wrapper-1  {
            display: inline-flex;
            position: relative;
            #img-1  {
            width: 80%;
            border-radius: 0.8em;
            .myMarginMixin(0.5em,0.5em);
            }
    
            #hidden-p {
                position: absolute;
                top: 30%;
                width: 100%;
                color: white;
                font-weight: bold;
                font-size: 1.5em;
                line-height: 1.2em;
                text-align: center;
                opacity: 0.2;
                visibility: visible;
                transition: 0.5s;
            }

           #img-1:hover + #hidden-p {
                opacity: 1;
                visibility: visible;
                
            }

            #img-1:hover {
                opacity:0.5 ;

            }

            
        }
        .img-wrapper-3  { 
            display:inline-flex;
            position:relative;

            #img-3  {
            width:80%;
            border-radius: 0.8em;
            .myMarginMixin(0.5em,0.5em);
            }

            #hidden-p3 {
                position:absolute;
                top:30%;
                width:100%;
                color: white;
                font-weight: bold;
                font-size: 1.5em;
                line-height: 1.2em;
                text-align:center;
                opacity:0.2;
                visibility: visible;
                transition: 0.5s;
            }

            #img-3:hover + #hidden-p3 {
                opacity: 1;
                visibility: visible;
                
            }

            #img-3:hover {
                opacity:0.5 ;

            }
            
        }
                        
        
    }

    .main-bot-wrapper {
        .myFlexMixin(center,space-between);

        @media @tablet {
            flex-direction: column;
        }
        @media @mobile {
            flex-direction: column;
        }
        section {
            .myFlexMixin(center,center);
            flex-direction: column;
            .myMarginMixin(1em,1em);

            p{
                color:maroon;
                font-size: 1.2em;
                line-height:1.2em;
                text-align: center;
            }
            button {
                .myMarginMixin(0.8em,0.8em);
                text-align: center;
                background-color: maroon;
                color: white;
                border: none;
                border-radius: 0.3em;

            }
        }
       
    }
       
    footer {
        background-color: maroon;
        width: 100%;
    
        .footer-nav {
            .myFlexMixin(center,space-evenly);

            .footer-logo {
                width:25%;
                .myFlexMixin(center,center);

                @media @tablet {
                    flex-direction: column;
                }
                @media @mobile {
                   display: none;
                }

                img {
                    width:15%;
                }
                h1{
                    text-align: center;
                    font-size: 1.5em;
                    color: white;

                    @media @tablet {
                        font-size: 1em;
                    }
                    @media @mobile {
                        font-size: 1em;
                    }
                }

            }

            nav{
                display: flex;
                flex-direction: column;
                .myMarginMixin(1em,1em);

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1em;
                    line-height: 1.5em;
                    
                
                }
            }
        }
        h3 {
            color: white;
            font-size: 1em;
            text-align: center;
            .myMarginMixin(1em,1em);
        }

    }
    
    
}

// Cities styles
// navigation styles
.cities-body-container {
    max-width: 100%;
     margin:0 8%;
    font-family: 'Livvic', sans-serif;
  
    .cities-nav-header {
        background-image: url(../imgs/kyler-boone-DrnOxsTcUMg-unsplash.jpg);
        background-size:100%;
        width:100%;

        .cities-nav-wrapper {
            background: rgba(255,255,255,0.2);
            .myFlexMixin(center,space-between);
            .myMarginMixin(1em,1em);
            margin-top:0;
            margin-left: 0;
            margin-right:0;
            width:100%;

            @media @tablet {
                flex-direction: column;
            }
            @media @mobile {
                flex-direction: column;
            }

            .cities-nav-logo {
                width:25%;
                .myFlexMixin(center,center);

                @media @tablet {
                    .myFlexMixin(center,center);
                    flex-direction: column;
                    width:50%;   
                }
                @media @mobile { 
                .myFlexMixin(center,center); 
                flex-direction: column;
                width:50%;
                }

                img {
                    width:15%;
                }

                h1 {
                    text-align: center;
                    font-size: 1.5em;
                    color: white;
                    
                    
                }
            }
            nav {

                @media @tablet {
                    .myFlexMixin(center,space-between);
                    flex-direction: column;
                    .myMarginMixin(0, 0);
                }
               
                @media @mobile {
                    .myFlexMixin(center,space-between);
                    flex-direction: column;
                    .myMarginMixin(0, 0);
                }

                a {
                    text-decoration: none;
                    color: white;
                    .myMarginMixin(0.5em, 0.5em);

                    @media @tablet {
                        .myMarginMixin(0.2em, 0.2em);
                    }
                   
                    @media @mobile {
                        .myMarginMixin(0, 0);
                    } 
                }
            }
        }
    }

    .cities-header-wrapper {
        .myMarginMixin(1em,1em);
        margin-bottom: 0;

        .form-container {
            .myFlexMixin(center,center);
            height:358px;
           
            
            .cities-form {
                background-color: white;
                width:85%;
                border-radius: 0.5em;

                form {
                    width:100%;
                    .myFlexMixin(center,space-evenly);

                    @media @tablet {
                        .myFlexMixin(center,space-between);
                        flex-direction: column;
                    }

                    @media @mobile {
                        .myFlexMixin(center,space-between);
                        flex-direction: column;
                    }

                    input {
                        .myMarginMixin(0.3em,0.3em);
                        font-size: 1em;
                        text-align: center;
                        width:20%;

                         @media @tablet {
                            width:90%;
                        }

                        @media @mobile {
                            width:90%;
                        }
                    }

                    button {
                        .myMarginMixin(0.3em,0.3em);
                        background-color: maroon;
                        border:none;
                        color:white;
                        font-size:1em; 
                        text-align: center;
                        width:20%;
                        border-radius: 0.5em;
                    
                        @media @tablet {
                            width:30%;
                        }
                        @media @mobile {
                            width:30%;
                        }
                    }
                }

            }
    
        }
    
    } 

    .cities-h2 {
        background-color: maroon;
        color:white;
        font-size: 1.2em;
        .myMarginMixin(0.8em,0.8em);
        margin-top:0;
        margin-left: 0;
        margin-right:0;
        // width:10%;
        text-align: center
        }

    .cities-main-wrapper { 

        .cities-main-top-wrapper {
            .myFlexMixin(center,space-between);

            @media @tablet {
                flex-direction: column;
            }

            @media @mobile {
                flex-direction: column;
            }

            .cities-main-left {
                .myFlexMixin(center,space-between);
                width:50%;
                .myMarginMixin(0.5em,0.5em);

                @media @tablet {
                    width:100%;
                }

                @media @mobile {
                    flex-direction: column;
                    width:100%;
                }

                img {
                    width:50%; 
                    height: 100%;
                    border-radius: 1em;

                    @media @tablet {
                        width:50%;
                    }
    
                    @media @mobile {
                        width:100%;
                    }
                }

                p {
                    line-break: auto;
                    line-height: 1.2em;
                    color:maroon;
                    .myMarginMixin(0.5em,0.5em);
                }
            }

            .cities-main-right {
                .myFlexMixin(center,space-between);
                width:50%;
                .myMarginMixin(0.5em,0.5em);

                @media @tablet {
                    width:100%;
                }

                @media @mobile {
                    flex-direction: column;
                    width:100%;
                }

                img {
                    width: 50%;
                    height: 100%;
                    border-radius: 1em;
                    
                    @media @tablet {
                        width:50%;
                    }

                    @media @mobile {
                        width:100%;
                    }
                }

                p {
                    width: 50;
                    line-break: auto;
                    line-height: 1.2em;
                    color:maroon;
                    .myMarginMixin(0.5em,0.5em);
                }
            }
        }
        .cities-main-bot-wrapper {
            .myMarginMixin(1em,1em);
            background-image: url(../imgs/table_glasses.jpg);
            background-size: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            .myFlexMixin(center,center);

            @media @tablet {
                flex-direction: column;
            }

            @media @mobile {
                flex-direction: column;
            }

            form {
                .myFlexMixin(center,center);
                input{
                    .myMarginMixin(1em,1em);
                    text-align: center;
                    font-size: 1em;
                    border-radius: 0.5em;
                    
                    @media @tablet {
                        width:50%;

                    }
                    
                }
            }
            button {
                .myMarginMixin(1em,1em);
                text-align: center;
                background-color: maroon;
                font-size: 1em;
                border:none;
                color: white;
                border-radius: 0.5em;
            }
            h2{
                color:white;
                font-size: 1.2em;
            }


        }
    }
    .cities-footer-wrapper {
        background-color: maroon;
        width: 100%;
    
        .cities-footer-nav {
            .myFlexMixin(center,space-evenly);

            .cities-footer-logo {
                width:25%;
                .myFlexMixin(center,center);

                @media @tablet {
                    flex-direction: column;
                }

                @media @mobile {
                   display: none;
                }

                img {
                    width:15%;
                }
                h1{
                    text-align: center;
                    font-size: 1.5em;
                    color: white; 

                    @media @tablet {
                        font-size: 1em;
                    }
                    @media @mobile {
                        font-size: 1em;
                    } 
                }

            }

            nav{
                display: flex;
                flex-direction: column;
                .myMarginMixin(1em,1em);

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1em;
                    line-height: 1.5em;
                    
                
                }
            }
        }
        h3 {
            color: white;
            font-size: 1em;
            text-align: center;
            .myMarginMixin(1em,1em);
        }

    }
   
}
